
.inicio{ 
    height: 80px;  
    width: 100%;
}
.contenedor-Principal{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 2rem 2rem 2rem;
}

.botton button {
    width: 60px;
    height: 60px;
    background: #FFC300;
    border-radius: 12px;
    border: none;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 3px 3px 1px  #000;
}

.botton  button:hover{
    opacity: 0.6;
}

#pos-Inicio{
    width: 170px;
    height: 60px; 
    font-size: 20px;   
}
.navegacion a{
    text-decoration: none;
    font-family: Source Code Pro;
    font-size: 20px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    transform: rotate(-0.07deg);
    padding: 5rem;
    flex-wrap: wrap;
}

.navegacion a:hover{
    color: #FFC300;
}

.secuencia-Inicio{
    width: 90%;
    height: 30rem;
    margin: 10rem 5rem 5rem;
    background-color: #003566 ;
    box-shadow: 0 0 50px 5px #003566;
    border-radius: 1rem;

}

.ord-Inicio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.ord-Inicio h2{
    font-family: Source Code Pro;
    font-size: 90px;
    color: #FFFFFF;
    opacity: 0.8;
    text-align: center;
    background-position: center;
    margin-top: 100px;
    flex-wrap: wrap;
}

.ord-Inicio img{
    width: 600px;
    height: 600px;
    border-radius: 1rem;
    position: relative;
    top: -120px;

}

.main{
    display: flex;
    justify-content: space-between;
    margin:auto;
}

.textoColeccion{
    font-size: 70px;
    text-align: center;
}

.cajaProducto{
    width: 500px;
    height: 500px;
    background-color: #003566;
    box-shadow: 0 0 50px 5px #003566;
    border-radius: 1rem;
    margin: auto;
    margin-left: 5rem;
    flex-wrap: wrap;
}

.cajaProducto .imagenBuzo{
    width: 350px;
    height: 400px;
    position: relative;
    margin: auto;
    margin-top: 3rem;
    margin-left: 4.5rem;
    flex-wrap: wrap;
}

.cajaProducto  .imagenSudaderas{
    width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
    margin-top: 2rem;
    margin-left: 5rem;
    flex-wrap: wrap;
}

.cajaProducto  .imagenAces{
    width: 200px;
    height: 250px;
    position: relative;
    margin: auto;
    margin-top: 2rem;
    margin-left: 5rem;
}

.cajaProducto h3{

    display: block;
    font-size: 40px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #FFFFFF;
}

.aliniarInicios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -50px 180px;
}

.navProductos {
    font-size: 40px;
    font-family: Source Code Pro;
    color: #FFFFFF;
    text-align: center;
    margin: 1rem 4rem;
}
.navProductos a{
    margin: 1rem -3rem;
    text-decoration: none;
    color: #FFFFFF;
}
.navProductos a:hover{
    color: #FFC300;
}

.aliAcc{
    display: flex;
    justify-content: space-between;
    align-items: center;;
    margin: -10px 100px;
}

.aliSudaderas{
    display: flex;
    justify-content: space-between;
    align-items: center;;
    margin: -50px 70px;
}
.cajaSudadera , .cajaAcce{
    width: 360px;
    height: 400px;
}

footer{
    margin: 6rem 0rem 0rem 0rem;
}
.footer a{
    justify-content: flex-start;
    text-decoration: none;
    font-family: Source Code Pro;
    font-size: 30px;
    text-align: center;
    color: #796262;
    transform: rotate(-0.07deg);
    padding: 3rem;
}

.fomulario-InicioSeccion h2{

    text-align: left;
    font-size: 40px;
    color: #78788c;
    margin: auto 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 3.5px solid #787c;
    width: 100%;
    box-sizing: border-box;
   
}

.fomulario-InicioSeccion .formulario{
    width: 100%;
    height: 100%;
    border-radius: 20px; 
    font-family: 'Montserrat', sans-serif;
    padding: 55px 80px;
    margin: 0 auto;
}

.fomulario-InicioSeccion input{
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid #181831;
    background: none;
    padding: 10px;
    color: rgb(55, 54, 54);
}

.fomulario-InicioSeccion p::before{
    content: attr(type);
    font-size: 20px;
    color: black;
}

.tituloAcesorios{
    display: flex;
    justify-content: center;
}

.tituloAcesorios h2{
    font-size: 40px;
    margin-top: 3rem;
}

/* Filtros  Menu  Buzoz, Sudaderas & Aceesorios */
.filtro{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-size: 30px;
    border: 3px solid #000;
    margin-left: 25rem;
}

.filtro select{
    margin-left: 3rem;
    border: none;
    border: 3px none;  
}

.ventasBuzos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:3rem;
    padding-left: 4rem;
}
.cajaVentas{
    width: 410px;
    height: 450px;
    background-color: #003566;
    box-shadow: 0 0 50px 5px #003566;
    border-radius: 1rem;
    margin: auto;
    margin-left: -1rem;
    color: #FFFFFF;
}

.buzoVentas{
    display: block;
    width: 300px;
    height: 330px;
    position: relative;
    margin: auto;
    margin-top: 1rem;
    margin-left: 5rem;
}

.sudaderaVentas{
    display: block;
    width: 300px;
    height: 330px;
    position: relative;
    margin: auto;
    margin-top: 1rem;
    margin-left: 9rem;
}

.accesoriosVentas{
    display: block;
    width: 300px;
    height: 330px;
    position: relative;
    margin: auto;
    margin-top: 1rem;
    margin-left: 5rem;
}

.accesoriosVentasG2{
    display: block;
    width: 320px;
    height: 320px;
    position: relative;
    margin: auto;
    margin-top: 1rem;
    margin-left: 4rem;
}

.accesoriosVentasB2{
    display: block;
    width: 200px;
    height: 320px;
    position: relative;
    margin: auto;
    margin-top: 1rem;
    margin-left: 7rem;
}

.cajaVentas h3{
    position: relative ;
    margin-left: 11rem;
}
.aliniarIconos{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 8rem;
}

.aliniarIconosAccesorios{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
    margin-left: 11rem;
}

.aliniarIconos select{
    font-size: 27px;
    margin: 0rem 1rem;
    background-color:floralwhite;
    border: 0.2rem solid #000000;
}

.bottonComprar button{
    width: 100px;
    height: 40px;
    background: #FFC300;
    border-radius: 12px;
    border: none;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 3px 3px 1px  #000;
}


/* Pagina de Ventas */
.ventasMain{
    background-color: #003566;
    height: 500px;
    box-shadow: 0 0 50px 5px #003566;
    border-radius: 1rem;
    margin: 5rem;
}

.visuluazacionCompra{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.bottosAgregar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-left: 1rem;
    align-items: center;
    color: white;
}

.bottosAgregar img{
    width: 50px;
}


#restar{
    width: 80px;
    height: 50px;
}

.ventasMain table, tr, td{
    color: white;
    font-size: 30px;
    margin: 2rem;
    align-items: center;
    padding: 10px 50px 10px 10px;
    padding-left: 20px;
}


.contedorMain{
    display: flex;
    justify-content: space-between;
}

.bottonVentas button{
    width: 300px;
    height: 40px;
    background: #FFC300;
    border-radius: 12px;
    border: none;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 3px 3px 1px  #000;
    margin-left: 8rem;
}


.metodosPago{
    margin: 5rem;
}

.metodosPago h2{
    font-size: 50px;
}

.contenedorPedidos{
    display: flex;
    justify-content: space-between;
    margin: 6rem;
    align-items: center;
}

.contenedorPedidos img{
    margin-left: 2rem;
}

.contenedorPedidos h2{
    font-size: 20px;
    margin-top: 0.5rem;
}

/* Responsive */

/* Pantallas de mas de 1024px*/
@media  screen and (max-width:1500px) and (min-width:1024px)  {

    
    .inicio{
        width: auto;
        height: auto;
    }
    .contenedor-Principal{
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    .navegacion a{
        font-size: 17px;
        padding: auto;
        margin: auto;
    }

    .secuencia-Inicio{
        display: block;
    }
    .ord-Inicio{
        margin: auto;
    }
    .ord-Inicio h2{
        font-family: Source Code Pro;
        font-size: 90px;
        color: #FFFFFF;
        opacity: 0.8;
        text-align: center;
        background-position: center;
        margin-top: 100px;
    }
    
    .ord-Inicio img{
        width: 600px;
        height: 600px;
        border-radius: 1rem;
        position: relative;
        top: -120px;
        flex-wrap: wrap;
        margin: auto;
    }

    .main{
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    
}
/* Pantallas de mas de 768px*/
@media screen and (max-width: 769px) and ( min-width:650px){

    .inicio{
        width: auto;
        height: auto;
    }
    .contenedor-Principal{
        display: flex;
        justify-content: space-between;
        margin: 1rem 5rem 0rem; 

    }

    .botton button{
        width: 40px;
        height: 40px;
    }
    
    button img{
        width: 30px;
        height: 30px;
    }

    #pos-Inicio{
        width: 100px;
        height: 40px;
        font-size: 12px;
    }
    .navegacion a{
        font-size: 17px;
        padding: 1rem;
    }
    
    .secuencia-Inicio{
        width: auto;
        height: auto;
        display: block;
        flex-direction: column;
        justify-content: center;
    }

    .ord-Inicio{
        display: block;
    }
    .ord-Inicio h2{
        font-size: 50px;
        margin-top: 0rem;
    }
    

    .ord-Inicio img{
        width: auto;
        height: auto;
        border-radius: 1rem;
        top: 0px;
        margin-left: 10rem;
    }
    
    .main{
        display: block;
        flex-direction: column;
        margin: 2rem;
    }
    
    .textoColeccion{
        font-size: 50px;
        text-align: center;
    }

    .cajaProducto{
        display: block;
        width: 500px;
        height: 500px;
        margin-left: 10rem;
        margin-top: 2rem;
    }

    .cajaProducto  .imagenSudaderas{
        width: 350px;
        height: 400px;
        margin: 2rem 15rem;
    }

    .aliSudaderas{
        margin-left: 15rem;
    }

    .cajaProducto  .imagenBuzo{
        margin-left: 8rem;
    }

    .aliniarInicios{
        margin-top: -2rem;
    }

    .cajaProducto  .imagenAces{
        width: 350px;
        height: 400px;
        margin-left: 8rem;
    }

    .aliAcc{
        margin-left: 15rem;
    }

    .footer a{
        font-size: 17px;
        margin-top: 0rem;
    }
}
/* Pantallas de mas de 480px*/
@media  screen and (max-width: 425px){
    
    .inicio{
        width: auto;
        height: auto;
    }

    .contenedor-Principal{
        display: block;
        float: none;
    }

    .botton button{
        width: 30px;
        height: 30px;
        display: none;
    }
    
    #pos-Inicio{
        width: 130px;
        height: 30px;
        font-size: 15px;
    }
    .navegacion a{
        display: block;
        flex-direction: column;
        align-items: center;
        margin-left: 5rem;
        border-bottom: 4px solid #003566;
    }

    .secuencia-Inicio{
        width: 500px;
        height: auto;
        display: block;
        flex-direction: column;
        justify-content: center;
        margin-left: 3rem;
    }

    .ord-Inicio h2{
        font-size: 25px;
        margin-top: 0rem;
    }

    .ord-Inicio img{
        width: 400;
        height: auto;
        border-radius: 1rem;
        top: 0px;
        margin-left: 5.5rem;
    }

    .main{
        display: block;
        flex-direction: column;
        margin: 2rem;
    }

    .textoColeccion {
        font-size: 50px;
        margin-left: 15rem;
    }

    .cajaProducto{
        display: block;
        width: 300px;
        height: 300px;
        margin-left: 10rem;
        margin-top: 2rem;
    }

    .cajaProducto  .imagenSudaderas{
        width: 150px;
        height: 200px;
        margin: 2rem 10rem;
    }

    .aliSudaderas{
        margin-left: 6rem;
        margin-top: -3rem;
    }

    .navProductos{
        font-size: 30px;
    }
    .cajaProducto  .imagenBuzo{
        margin-left: 5rem;
        width: 200px;
        height: 200px;
    }

    .aliniarInicios{
        margin-top: -1rem;
        margin-left: 9.5rem;
    }

    .cajaProducto  .imagenAces{
        width: 200px;
        height: 200px;
        margin-left: 5rem;
    }

    .aliAcc{
        margin-left: 6rem;
    }

    .footer a{
        font-size: 17px;
        display: block;
        flex-direction: column;
        align-items: center;
        margin-left: 5rem;
        border-bottom: 4px solid #003566;
    }
}

